body {
    background-color: rgb(206, 166, 174);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
   /* a:hover { 
    background-color: #111; 
  }  */

.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    border-bottom: solid 1px #555555;
    }

.mainbody{
    top: 114px;
    bottom: 64px;
    right: 114px;
    left: 114px;
    padding-right: 5px;
}

  .footer{
    background-color: #333;
    bottom: 5px;
    height: 75px;
    left: 5px;
    right: 5px;
    font-size: 12px;
    color: grey;
    text-align: center;
    position: fixed;
}

.centergraphic{
    margin: auto;
    max-width: 1000px;
    max-height: 200px;

}

.textstyle{
    font-size: 14px;
    color: #333;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

 .bold {
    font-weight: bold;
    font-style: normal;
    }

 .textstyle2{
     font-size: 14px;
     color: #333;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-style: italic;
     }

 .titlepage{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: rgb(44, 44, 44);
    text-align: center;
    font-weight: bold;
   }